<header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p class="text-center h4 mb-4">Add Department</p>
                <form action="/admin/add-department" method="POST">
                    <div class="m-2">
                        <label for="" class="mb-2">Department</label>
                        <input type="text" name="department" class="form-control">
                    </div>
                    <div class="m-2">
                        <label for="" class="mb-2">Description</label>
                        <textarea name="comments" id="comments" rows="4" class="form-control"
                                        placeholder="Your Message :"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary m-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</header>