<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5" style="width: 600px;">
            
            <form name="forms" action="/admin/signup" onsubmit="return validateForm()" method="POST">
                <p class="text-center h4 mb-4">Signup</p>
                <div class="error"></div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
                </div>
                {{!-- <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div> --}}
                <div class="row">
                    <div class="col ">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        
                    </div>
                    <div class="col mt-2">
                        <a href="/admin/login">Already have an account</a>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>

